:root {
    /* colors */
    --matteBlack: rgb(20, 20, 23);
    --boneWhite: rgb(249, 246, 238);
    --white: rgb(255, 255, 255);
    --royalBlue: rgb(65, 105, 225);
    --lemonYellow: rgb(250, 250, 51);
    --babyBlue: rgb(137, 207, 240);
    --gunMetalGray: rgb(129, 133, 137);

    /* font */
    --mainFont: 'Chakra Petch', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--mainFont);
    display: flex;
    justify-content: center;
    height: 100dvh;
}

.body-dark-theme {
    background-color: var(--matteBlack);
    color: var(--boneWhite);
    transition: 1s;
}

.body-light-theme {
    background-color: var(--boneWhite);
    color: var(--matteBlack);
    transition: 1s;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

section {
    min-width: 500px;
    margin: 0 1rem;
}

.input-container {
    display: grid;
    grid-template-areas: 
    "title-container title-container title-container switch-theme-button"
    "calculator-screen-input calculator-screen-input calculator-screen-input calculator-screen-input";
    gap: 1rem;
}

.title-container {
    grid-area: title-container;
};

#switch-theme-button {
    grid-area: switch-theme-button;
}

#calculator-screen-input {
    grid-area: calculator-screen-input;
}

#calculator-screen-input:focus {
    outline: none;
    box-shadow: none;
}

h1 {
    font-weight: 700;
}

h3 {
    margin-left: 3rem;
    font-style: italic;
    font-weight: 400;
}

.h3-dark-theme {
    color: var(--lemonYellow);
}

.h3-light-theme {
    color: var(--gunMetalGray);
}

input {
    padding: .7rem;
    background-color: transparent;
    border-radius: .3rem;
    font-size: 1.7rem;
    font-family: var(--mainFont);
    text-align: right;
}

.input-dark-theme {
    color: var(--white);
    border: .1rem solid var(--lemonYellow);
}

.input-light-theme {
    color: var(--matteBlack);
    border: .1rem solid var(--gunMetalGray);
}

.misc-buttons {
    background-color: transparent;
    font-family: var(--mainFont);
    border-radius: .3rem;
    padding: .7rem;
    font-size: 1rem;
    transition: .5s;
}

.misc-buttons-dark-theme {
    color: var(--boneWhite);
    border: .1rem solid var(--lemonYellow);
}

.misc-buttons-dark-theme:hover {
    background-color: var(--lemonYellow);
    color: var(--matteBlack);
}

.misc-buttons-dark-theme:active {
    background-color: var(--white);
}

.misc-buttons-light-theme {
    color: var(--matteBlack);
    border: .1rem solid var(--gunMetalGray);
}

.misc-buttons-light-theme:hover {
    background-color: var(--gunMetalGray);
}

.misc-buttons-light-theme:active {
    background-color: var(--matteBlack);
    color: var(--white);
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 1rem;
}

.calculator-buttons {
    padding: 1rem;
    font-family: var(--mainFont);
    border-radius: .3rem;
    font-size: 1.7rem;
    transition: .3s;
}

.dark-theme-calculator-buttons {
    background-color: var(--royalBlue);
    border: .2rem solid transparent;
}

.dark-theme-calculator-buttons:hover {
    border-color: var(--lemonYellow);
    color: var(--lemonYellow);
    cursor: pointer;
}

.dark-theme-calculator-buttons:active {
    background-color: var(--white);
    color: var(--matteBlack);
}

.light-theme-calculator-buttons {
    background-color: var(--babyBlue);
    color: var(--boneWhite);
    border: .2rem solid transparent;
}

.light-theme-calculator-buttons:hover {
    border-color: var(--matteBlack);
    color: var(--matteBlack);
    cursor: pointer;
}

.light-theme-calculator-buttons:active {
    background-color: var(--matteBlack);
    color: var(--white);
}

.results-container {
    display: flex;
}

#copyToClipboardButton {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    flex-grow: 1;
}

#results-input {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    text-align: center;
    font-weight: 700;
}

@media (width < 540px) {
    section {
        min-width: 350px;
    }

    .input-container {
        grid-template-areas: 
        "title-container switch-theme-button"
        "calculator-screen-input calculator-screen-input";
    }
    
    h1 {
        font-size: 1.3rem;
    }

    h3 {
        margin-left: 3rem;
        font-style: italic;
        font-weight: 400;
        font-size: 1rem;
    }

    input {
        font-size: 1rem;
    }

    .misc-buttons {
        padding: 0rem;
    }

    .buttons-container, 
    .input-container {
        gap: .7rem;
        justify-content: space-between;
    }

    .calculator-buttons {
        padding: .7rem;
        font-size: 1rem;
    }
}